<nav id="mobile-nav">
	<div class="btnctn js-mobile-btnctn">
  		<div class="slider-trigger list" q-on="click: openSlider(e)"><i class="icon icon-sort"></i></div>
	</div>
	<div class="mobile-mask" style="display:none" q-show="isShow"></div>
</nav>
